@mixin centre($axis: "both"){
  position:absolute;
  @if $axis == "y"{
    top:50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @if $axis == "x"{
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  @if $axis == "both"{
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@mixin rotate($r: 0){
  -webkit-transform: rotate($r);
  -moz-transform: rotate($r);
  -ms-transform: rotate($r);
  -o-transform: rotate($r);
  transform: rotate($r);
}

@function px-to-rem($px){
  @return ($px/16) + rem;
}


@mixin font-size($font_px)
{
  font-size: $font_px + px;
  font-size: px-to-rem($font_px);

  $line_h: $font_px * 1,2;

  line-height: $line_h + px;
  line-height: px-to-rem($line_h);
}